<div class = "article-banner-wrap" style = "background-image:url('<%- post.banner %>')">
  <% if (post.link) { %>
  	<a href="<%- url_for(post.link) %>" target="_blank" itemprop="url"/>
  <% } else if (post.title) { %>
  	<% if (index) { %>
  		<a href="<%- url_for(post.path) %>" itemprop="url"/>
  	<% } %>
  <% } %>
</div>

