body.page, body.post
    #main
        margin: 0
        @media mq-normal
            width: 100%
        @media mq-tablet
            width: 100%

    #profile
        @media mq-normal
            display: none
            &.card
                display: block

    #sub-nav
        @media mq-normal
            display: block

    .article-header, .article-entry
        max-width: 1000px
        margin: 0 auto

    h1
        font-size: 3em

.widget-wrap:not(:first-child)
    display: none

.article-banner-wrap
    height: 250px
    position: relative
    overflow: hidden
    margin-bottom: 20px
    background-position: 50% 50%
    background-size: auto 100%

    a
        display: block
        height: 100%
        width: 100%

    img 
        position: absolute
        top: 0
        bottom: 0
        margin: auto

.recent-wrap
    .widget-title
        font-size: 1.3em;
        margin-bottom: 25px;
        text-align: center;
        
    #recent-list
        display: block
        width: 100%
        margin: -10px
        text-align: center
        
        @media mq-mini
            padding: 0px

            li 
                margin: 10px 0px
                width: 100%  !important 

        @media mq-mobile
            flex-direction: column
            padding: 0px

            li 
                margin: 10px 0px
                width: 100% !important        
        
        li.recent-card
            width: 33%;
            display: inline-block;
            vertical-align: middle;
            background: white
            margin: 10px
            text-align: left

            .item-thumbnail
                width: 100%
                height: 100px

                a  
                    display: block
                    height: 100%
                    position: relative
                    width: 100%
                    overflow: hidden
                    cursor: pointer

                    span
                        display: block
                        width: 100%
                        background-size: 100% auto
                        position: absolute
                        margin: auto
                        top: 0
                        bottom: 0
                        background-position: 50%

            .item-inner
                padding: 15px

            .item-title
                font-size: 1.3em
                margin-bottom: 3px

            .item-category
                margin-bottom: 5px
                a.article-category-link
                    color: inherit;
                    text-transform: uppercase;
                    font-size: 0.8em;
                    cursor: pointer
                i.fa 
                    margin: 0px 5px;


body.index 
    .article-banner-wrap
        height: 200px